#tabs, #schedule{

	margin-top: 80px;
}

#tab_form{

	margin: 30px auto;
	width: 80%;
}

#tab_form button {
	margin-top: 20px;
}

#create_showings .form-group{

	margin: 35px;
    height: 15%;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #eee;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

#cover{
    width:100%;
    height: 400px;
}

#properties{
    margin: 40px 0;
}